# Terraform
.terraform/
.terraform.lock.hcl

# Terraform state (local only, just in case)
*.tfstate
*.tfstate.*

# Crash logs
crash.log

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI config
.terraformrc
terraform.rc

# OS
.DS_Store
Thumbs.db
