---
- name: Install Cilium CNI (manual-style, minimal)
  hosts: controlplane
  become: yes

  tasks:

    - name: Check Kubernetes API is reachable
      shell: kubectl version --short
      environment:
        KUBECONFIG: /etc/kubernetes/admin.conf

    - name: Download and install Cilium CLI
      shell: |
        CILIUM_CLI_VERSION=$(curl -s https://raw.githubusercontent.com/cilium/cilium-cli/main/stable.txt)
        CLI_ARCH=amd64
        if [ "$(uname -m)" = "aarch64" ]; then CLI_ARCH=arm64; fi
        curl -L --fail --remote-name-all https://github.com/cilium/cilium-cli/releases/download/${CILIUM_CLI_VERSION}/cilium-linux-${CLI_ARCH}.tar.gz{,.sha256sum}
        sha256sum --check cilium-linux-${CLI_ARCH}.tar.gz.sha256sum
        sudo tar xzvfC cilium-linux-${CLI_ARCH}.tar.gz /usr/local/bin
        rm cilium-linux-${CLI_ARCH}.tar.gz{,.sha256sum}
    - name: Install Cilium CNI
      shell: cilium install --set ipam.operator.clusterPoolIPv4PodCIDRList="192.168.0.0/16"
      environment:
        KUBECONFIG: /etc/kubernetes/admin.conf

    - name: Wait for Cilium to be ready
      shell: cilium status --wait
      environment:
        KUBECONFIG: /etc/kubernetes/admin.conf
