---
- name: Get kubeadm join command from control plane
  hosts: controlplane
  become: yes
  tasks:
    - name: Generate kubeadm join command
      shell: kubeadm token create --print-join-command
      register: join_cmd

    - name: Save join command for workers
      set_fact:
        kubeadm_join_cmd: "{{ join_cmd.stdout }}"

- name: Join worker nodes to cluster
  hosts: workers
  become: yes
  tasks:
    - name: Check if worker already joined
      shell: test -f /etc/kubernetes/kubelet.conf
      register: kubelet_conf
      failed_when: false
      changed_when: false

    - name: Join worker to Kubernetes cluster
      shell: "{{ hostvars[groups['controlplane'][0]].kubeadm_join_cmd }}"
      when: kubelet_conf.rc != 0
